@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap');

/* font-family: 'Big Shoulders Text', cursive; */



.nav-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 0;
    background-color: white;
}

.nav-flex-row li {
    text-decoration: none;
    list-style-type: none;
    padding: 20px 15px;
}

.nav-flex-row li a {
    font-family: 'Big Shoulders Text', cursive;

    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
    color: black
}
.nav-flex-row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;


    left: 0;
    width: 100%;
    padding: 0;
}

.nav-flex-row2 li {
    text-decoration: none;
    list-style-type: none;
    padding: 50px 50px;
}
.nav-flex-row2 li a{
    font-size: 50px;
    width:50px;
    height:50px;
    text-align: center;
    text-decoration:none;


}

.section-intro {
    height: 820px;

    background-image: url(sfondo.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-intro h1 {
    text-align: center;
    color: #ffffff;
    text-shadow:
    -1px -1px 0 #95999e,  /* Top left shadow */
     1px -1px 0 #95999e,  /* Top right shadow */
    -1px  1px 0 #95999e,  /* Bottom left shadow */
     1px  1px 0 #95999e;  /* Bottom right shadow */
    font-size: 4em;
    font-weight: 700;
}

.section-intro header {
    display: flex;
    flex: 4;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-to-book-wrapper {
    flex: 1;
}

.about-section {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 50px 30px;
}

.link-to-book {
    background-color: #ffffff;
    color: #95999e;
    display: block;
    border: 2px solid #ffffff;
    padding: 5px 10px;


}

a.link-to-book:hover {
    background-color: #ffffff;
    color: black;
    text-decoration: none;
}

.link-to-book-wrapper a {
    font-size: 40px;
    width:50px;
    height:50px;
    text-align: center;
    border-radius:50px;
    text-decoration:none;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding: 0;


}


.about-section p,
.about-section h3 {

    text-align: center;
    width: 60%;
    margin: auto;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 1.8em;
    text-transform: uppercase;
}

.carousel-inner {
    height: 700px;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.flex-column-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 30px 20px;
}
.flex-column-form2 {
    display: flex;
    flex-direction: column;
    flex: 1;

}
.opening-time2,
.contact-adress2 {
    flex: 1;

    font-size: 1.2em;
}


.btn.btn-primary {
    font-family: 'Big Shoulders Text', cursive;
    color: #ffffff;
    background-color: #95999e;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    letter-spacing: 2px;
    border: 0;
}

.btn.btn-primary:hover {
    background-color: #747474;
}

.btn.btn-second {
    background-image: url(posizione.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  /* put the height and width of your image here */
    height: 50px;
    width: 50px;
    border: none;
}


.opening-time,
.contact-adress {
    flex: 1;
    margin: 30px 20px;
    font-size: 1.2em;
}

.form-group p {
    font-size: 1.2em;
}

.opening-time p span,
.contact-adress p span {
    display: block;
}

@media (min-width:577px) and (max-width: 800px) {

    .section-intro {
        height: 500px;
    }

    .about-section p,
    .about-section h3 {
        font-size: 20px;
    }

    .carousel-inner {
        height: auto;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {

    .nav-flex-row {

        height:50px;
    }
    .nav-flex-row li {
    text-decoration: none;
    list-style-type: none;
    padding: 10px 7px;
}
    .section-intro {
        height: 300px;
    }

    .about-section {
        padding: 30px;
    }

    .section-intro h1 {
        font-size: 2em;
    }

    .about-section p,
    .about-section h3 {
        font-size: 15px;
    }

    .carousel-inner {
        height: auto;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
    }

    .row-flex h3 {
        font-size: 25px;
        text-align: center;
    }

    .form-group p {
        font-size: 15px;
    }

    .opening-time p span,
    .contact-adress p span {
        font-size: 15px;
        text-align: center;
    }

}

